/*--------------
    fonts arimo
 ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
/*--------------------------
Common styles and Utilities
 ----------------------------*/
 body{
    font-family: 'Arimo', sans-serif;
 }
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 .container{
    background: #ffffff;
    /* height: 100vh;
    width: 100%; */
    padding: 25px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 25%);
    gap: 40px;
 }
 .container > .top-banner{
    grid-column: 1 / -1;
    /* grid-row: 1; */
 }
 .container > .navigation-bar{
    grid-column: 2 /3;
    /* grid-row: 3 / 4; */
 }
 .container > .blogs{
    grid-column: 3 / -2;
    /* grid-row: 4 / ; */
 }
 .container > .extra-button{
    grid-column: -8 / -5;
    /* grid-row: 4 / ; */
 }
/* 
   Top banner styles
 */
 .top-banner{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-around;
    border-radius: 50px;
    color: #ffffff;
    background-color: #161616
}
.banner-items{
    width: 530px;
    height: 430px;
    left: 246px;
    top: 161px;
}
.banner-header{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}
.banner-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.banner-button{
    background-color: #DD0000;
    color: #ffffff;
    width: 187px;
    height: 56px;
    left: 246px;
    top: 529px;
}
.banner-button a{
    color: #ffffff;
    text-decoration: none;
}
.banner-image img{
    width: 581px;
    height: 613px;
    left: 24px;
    top: 83px;
}
/*-----------------------
   navigation bar Styles
 -------------------------*/
 .navigation-bar{
    padding: 20px;
 }
 .navigation-bar{

    background-color: #161616;
 }
 .navigation-buttons a{
    text-decoration: none;
 }
/*--------------
   blogs Styles
 -----------------*/
 .blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
/* -------------------
       Footer styles
-------------------------*/
footer{
    color: #ffffff;
    background-color: #161616;
}
/* .top-banner{
    
    display: grid;
    justify-content: center;
    /* grid-template-rows: repeat(1, 1fr); */
    /* height: 50%;
    width: 75%;
    border: 2px solid darkmagenta;
    grid-template-columns: repeat(3, 1fr); */
/* } */
/* div img{
    width: 150%;
} */